{% extends 'litrev/base.html' %}

{% block content %}
    <div class="container flex">
        {% if not request.user.is_authenticated %}
            <div class="sign-up ccs_card-container w-6/12">
                <div class="container css_card-base w-full">
                    <h2>Pas encore utilisateur ?</h2>
                    <form action="{% url 'sign-up' %}">
                        <button type="submit">Créer un compte</button>
                    </form>
                </div>
            </div>

            <div class="login ccs_card-container w-6/12">
                <div class="container css_card-base">
                    <h2>Login</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {% if error %}
                            <p class="text-red-500">{{ error }}</p>
                        {% endif %}
                        {{ form.as_ul }}
                        <button type="submit">Login</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="ccs_card-container w-full">
                <div class="css_card-base">
                    <h2>You are connected as {{ user.username }}</h2>
                    <p>do you want to <a class="font-extrabold/" href="{% url 'disconnect' %}">log-out</a> ? </p></div>
            </div>
        {% endif %}
    </div>
{% endblock %}