{% extends "litrev/base.html" %}

{% block content %}
    <div class="ccs_card-container">
        <div class="css_card-base">
            <div class="css_form-title">
                <h2>Inscrivez vous</h2>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class=>
                            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                            {{ field }}<br>
                            {% if field.help_text %}
                                <div>{{ field.help_text }}</div>
                            {% endif %}
                            {% for error in field.errors %}
                                {{ error }}
                                </div>
                            {% endfor %}
                    {% endfor %}


                    <button type="submit" class="m-2">
                        enregistrer le compte
                    </button>
                </form>
                <form action="{% url 'site-index' %}">
                    <button class="m-2 bg-red-500 hover:bg-red-900">
                        Retour
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

